.font-1-xxl {
  font: 700 7.5rem/1 "Sarabun", sans-serif;
  text-transform: uppercase;
}

.font-1-xl {
  font: 700 4.5rem/1.111 "Sarabun", sans-serif;
}

.font-1-l {
  font: 700 3rem/1.25 "Sarabun", sans-serif;
}

.font-1-m {
  font: 700 2rem/1.125 "Sarabun", sans-serif;
  text-transform: uppercase;
}

.font-2-m {
  font: 400 2rem/1.125 "Roboto", Arial;
}

.font-1-s,
.font-1-s-b,
.font-1-s-c {
  font: 500 1.5rem/1.333 "Sarabun", sans-serif;
}

.font-1-s-b,
.font-1-s-c {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

.font-1-s-c {
  font-weight: 700;
}

.font-2-s {
  font: 400 1.5rem/1.333 "Roboto", Arial;
}

.font-1-xs {
  font: 500 1.25rem/1.2 "Sarabun", sans-serif;
}

.font-2-xs {
  font: 400 1.25rem/1.2 "Roboto", Arial;
}

.font-1-xxs {
  font: 600 1.125rem/1.777 "Sarabun", sans-serif;
  text-transform: uppercase;
}

.font-2-xxs {
  font: 400 1.125rem/1.777 "Roboto", Arial;
}

@media (max-width: 1200px) {
  .font-1-xl {
    font-size: 3rem;
  }
  .font-1-l {
    font-size: 2.5rem;
  }
  .font-1-m {
    font-size: 1.6rem;
  }
  .font-2-m {
    font-size: 1.6rem;
  }
  .font-2-s {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xl {
    font-size: 2rem;
  }
  .font-1-l {
    font-size: 1.8rem;
  }
  .font-1-m {
    font-size: 1.4rem;
  }
  .font-2-m {
    font-size: 1.4rem;
  }
}
